* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8faf7;
}

.cross {
    position: relative;
    /* background-color: #272adb; */
}

.cross::before,
.cross::after {
    background-color: #272adb;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 60px;
    transform-origin: 0 0;
}

.cross::before {
    transform: rotate(45deg) translateX(-50%);
    /* transform: rotate(45deg); */
}

.cross::after {
    transform: rotate(-45deg) translateX(-50%);
    /* transform: rotate(-45deg); */
}

.circle {
    border: 2px solid #0e8c25;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.field-wrap {
    position: relative;
    height: 100vh;
}

.field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    /* box-shadow: -1px 6px 16px -1px rgba(0,0,0,0.52); */
}
  
.field__row {
    display: flex;
    text-align: center;
}
  
.field__ceil {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 95px;
    transition: all .4s ease-in-out;
}

.field__ceil:hover {
    background-color: #dad7e0;
}
  
.field__ceil_filled {
    background-color: #dad7e0;
}
  
.field__ceil_win {
    background-color: #34eb46;
}

.field__ceil_win:hover {
    background-color: #34eb46;
}

.field__authorization {
    background-color: #42f5d1;
    border: 2px solid #8442f5;
    border-radius: 6px;
    padding: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.field__authorization-hint {
    border: 1px solid #000;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -100%);
    width: 140px
}

.field__authorization-input {
    position: relative;
    padding-bottom: 15px;
}

.field__authorization-input input {
    width: 370px;
    padding: 10px;
    transition: all .4s ease-in-out;
}

.field__authorization-input_invalid {
    border: 2px solid #ff1414;
}

.field__authorization-button {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.field__players {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.field__restart {
    cursor: pointer;
    background-color: #ff5445;
    border: none;
    border-radius: 6px;
    display: block;
    text-transform: uppercase;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all .4s ease-in-out;
    box-shadow: -1px 6px 16px -1px rgba(0,0,0,0.52);
}

.field__restart:hover {
    background-color: #ff0022;
}

.winner-alert {
    background-color: #fff;
    border: 2px solid #8442f5;
    border-radius: 6px;
    padding: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
